* {
    font-family: "Noto Kufi arabic";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.wrapper hover_collapse {
    background: #8824dc;
}

body {
    background: #f5f5f5;
}



.sidebar {
    position: fixed;
    top: 80px;
    right: 0;
    width: 250px;
    height: 100%;
    background: #683cec;
}

    .sidebar ul li a {
        display: block;   
        padding: 16px 0px;
        border-bottom: 1px solid #fff;
        color: #8824dc;
    }

        .sidebar ul li a .icon {
            font-size: 18px;
            color: white;
            vertical-align: middle;
        }

        .sidebar ul li a .text {
            margin-left: 19px;
            color: #fff;
            font-family: sans-serif;
            font-size: 16px;
            font-weight:bold;
            letter-spacing: 2px;
        }

        .sidebar ul li a:hover {
            background: #8824dc;
            color: black;
        }

.hover_collapse .sidebar {
    width: 60px;
}

    .hover_collapse .sidebar ul li a .text {
        display: none;
    }
.myBtn {
    background: #8824dc;
    color: white;
}
.numbers {
    background: #8824dc;
    padding-top: 100px;
    padding-bottom: 100px;
}