@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
/* This pen */
/* line 12, ../sass/style.scss */
/* body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
} */

/* line 20, ../sass/style.scss */


/* line 25, ../sass/style.scss */
.light {
    background: #f3f5f7;
}

/* line 29, ../sass/style.scss */
a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* line 34, ../sass/style.scss */
#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* Cards */
/* line 42, ../sass/style.scss */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}
    /* line 53, ../sass/style.scss */
    .postcard.dark {
        background-color: #18151f;
    }
    /* line 56, ../sass/style.scss */
    .postcard.light {
        background-color: #e1e5ea;
    }
    /* line 60, ../sass/style.scss */
    .postcard .t-dark {
        color: #18151f;
    }
    /* line 64, ../sass/style.scss */
    .postcard a {
        color: inherit;
    }
    /* line 68, ../sass/style.scss */
    .postcard h1, .postcard .h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    /* line 74, ../sass/style.scss */
    .postcard .small {
        font-size: 80%;
    }
    /* line 78, ../sass/style.scss */
    .postcard .postcard__title {
        font-size: 1.75rem;
    }
    /* line 82, ../sass/style.scss */
    .postcard .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }
    /* line 89, ../sass/style.scss */
    .postcard .postcard__img_link {
        display: contents;
    }
    /* line 93, ../sass/style.scss */
    .postcard .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
        position: relative;
    }
    /* line 102, ../sass/style.scss */
    .postcard .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    /* line 109, ../sass/style.scss */
    .postcard .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }
    /* line 116, ../sass/style.scss */
    .postcard .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
    }
        /* line 124, ../sass/style.scss */
        .postcard .postcard__tagbox .tag__item {
            display: inline-block;
            background: rgba(83, 83, 83, 0.4);
            border-radius: 3px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;
        }
            /* line 134, ../sass/style.scss */
            .postcard .postcard__tagbox .tag__item:hover {
                background: rgba(83, 83, 83, 0.8);
            }
    /* line 140, ../sass/style.scss */
    .postcard:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }
    /* line 152, ../sass/style.scss */
    .postcard:hover .postcard__bar {
        width: 100px;
    }

@media screen and (min-width: 769px) {
    /* line 158, ../sass/style.scss */
    .postcard {
        flex-wrap: inherit;
    }
        /* line 161, ../sass/style.scss */
        .postcard .postcard__title {
            font-size: 2rem;
        }
        /* line 165, ../sass/style.scss */
        .postcard .postcard__tagbox {
            justify-content: start;
        }
        /* line 169, ../sass/style.scss */
        .postcard .postcard__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }
        /* line 175, ../sass/style.scss */
        .postcard .postcard__text {
            padding: 3rem;
            width: 100%;
        }
        /* line 180, ../sass/style.scss */
        .postcard .media.postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            background: #18151f;
            top: -20%;
            height: 130%;
            width: 55px;
        }
        /* line 190, ../sass/style.scss */
        .postcard:hover .postcard__img {
            transform: scale(1.1);
        }
        /* line 194, ../sass/style.scss */
        .postcard:nth-child(2n+1) {
            flex-direction: row;
        }
        /* line 198, ../sass/style.scss */
        /*.postcard:nth-child(2n+0) {
            flex-direction: row-reverse;
        }*/
        /* line 202, ../sass/style.scss */
        .postcard:nth-child(2n+1) .postcard__text::before {
            left: -12px !important;
            transform: rotate(4deg);
        }
        /* line 207, ../sass/style.scss */
        /*.postcard:nth-child(2n+0) .postcard__text::before {
            right: -12px !important;
            transform: rotate(-4deg);
        }*/
}

@media screen and (min-width: 1024px) {
    /* line 214, ../sass/style.scss */
    .postcard__text {
        padding: 2rem 3.5rem;
    }

        /* line 218, ../sass/style.scss */
        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    /* line 229, ../sass/style.scss */
    .postcard.dark .postcard__text:before {
        background: #18151f;
    }

    /* line 234, ../sass/style.scss */
    .postcard.light .postcard__text:before {
        background: #e1e5ea;
    }
}
/* COLORS */
/* line 241, ../sass/style.scss */
.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
}

/* line 245, ../sass/style.scss */
.green .postcard__title:hover {
    color: #79dd09;
}

/* line 248, ../sass/style.scss */
.green .postcard__bar {
    background-color: #79dd09;
}

/* line 251, ../sass/style.scss */
.green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

/* line 258, ../sass/style.scss */
.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

/* line 262, ../sass/style.scss */
.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

/* line 265, ../sass/style.scss */
.blue .postcard__title:hover {
    color: #0076bd;
}

/* line 268, ../sass/style.scss */
.blue .postcard__bar {
    background-color: #0076bd;
}

/* line 271, ../sass/style.scss */
.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

/* line 274, ../sass/style.scss */
.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

/* line 278, ../sass/style.scss */
.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
}

/* line 281, ../sass/style.scss */
.red .postcard__title:hover {
    color: #bd150b;
}

/* line 284, ../sass/style.scss */
.red .postcard__bar {
    background-color: #bd150b;
}

/* line 287, ../sass/style.scss */
.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

/* line 290, ../sass/style.scss */
.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

/* line 294, ../sass/style.scss */
.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
}

/* line 298, ../sass/style.scss */
.yellow .postcard__title:hover {
    color: #bdbb49;
}

/* line 301, ../sass/style.scss */
.yellow .postcard__bar {
    background-color: #bdbb49;
}

/* line 304, ../sass/style.scss */
.yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

/* line 311, ../sass/style.scss */
.yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
    /* line 320, ../sass/style.scss */
    .green::before {
        background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    /* line 327, ../sass/style.scss */
    .green:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }

    /* line 335, ../sass/style.scss */
    .blue::before {
        background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    /* line 342, ../sass/style.scss */
    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }

    /* line 346, ../sass/style.scss */
    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    /* line 349, ../sass/style.scss */
    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }

    /* line 353, ../sass/style.scss */
    .yellow::before {
        background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }

    /* line 360, ../sass/style.scss */
    .yellow:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
}
