@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Manage your account</h1>

<div>
    @*<h2>Change your account settings</h2>*@
    <hr />
    <div class="container-xl mt-4 align-content-center">
     @*   <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>*@
        <div >
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
