@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@*<h3 class="float-right">تغير كلمة المرور</h3>*@
<partial name="_StatusMessage" for="StatusMessage" />
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-5 container justify-content-center" dir="rtl">
            <div class="col-8  border border-Secondery">
               

            <div class="custom-file mt-2 mb-2">
                 <label asp-for="Input.OldPassword" class="form-label">كلمة المرور الحالية</label>
                 <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>





             <div class="custom-file mt-2 mb-2">
                 <label asp-for="Input.NewPassword" class="form-label">كلمة المرور الجديدة</label>
                 <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>






            <div class="custom-file mt-2 mb-2">
                <label asp-for="Input.ConfirmPassword" class="form-label">تأكيد كلمة المرور الجديدة</label>
               <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
     
        

            <div class="custom-file mt-2 mb-2">

            <button type="submit" class="w-100 btn btn-lg btn-primary">حفظ التعديلات</button>            </div>
 
            </div>
         </div>

        </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



