@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
<div class="w-50 m-auto d-flex justify-content-center align-items-center text-success fw-bold fs-5 mt-5" style="height:50vh">
       <p>@Model.StatusMessage</p>
</div>
