@page
@model PhoneNumberConfimationSuccessModel
@{
   ViewData["Title"] = "Phone number confirmed";
}

<div class="row mt-5 d-flex justify-content-center align-items-center gx-0" direction="rtl" style="height:40vh">
   <p>
       Thank you for confirming your phone number.
   </p>
   <a asp-page="/Index">Back to home</a>
</div>