
@{
    Layout = "_AdminLayoutModified";
    ViewData["Title"] = "Admin Control Panel";

}

    

    <div class="row col-sm-12 col-lg-12  align-items-center justify-content-center numbers pr-5">
            <div class="col-sm-9 col-lg-4 text-center text-white">
                <h1 data-purecounter-start="0" data-purecounter-end=@ViewBag.NumberOfCustommers data-purecounter-duration="1" class="purecounter"></h1>
                <h2>Users</h2>
            </div>
          <div class="col-sm-9 col-lg-4 text-center text-white">
            <h1 data-purecounter-start="0" data-purecounter-end=@ViewBag.numOfVerifiedUsers data-purecounter-duration="1" class="purecounter"></h1>
            <h2>Verified Users</h2>
          </div>
          <div class="col-sm-9 col-lg-4 text-center  text-white">
            <h1 data-purecounter-start="0" data-purecounter-end=@ViewBag.numOfUnverifiedUsers data-purecounter-duration="1" class="purecounter"></h1>
            <h2>Unverified Users</h2>
          </div>

           <div class="col-sm-9 col-lg-4 text-center  text-white">
                <h1 data-purecounter-start="0" data-purecounter-end=@ViewBag.numberOfServices data-purecounter-duration="1" class="purecounter"></h1>
                <h2>Services</h2>
            </div>
          <div class="col-sm-9 col-lg-4 text-center text-white">
            <h1 data-purecounter-start="0" data-purecounter-end=@ViewBag.numOfDoneContracts data-purecounter-duration="1" class="purecounter"></h1>
            <h2>Done Contracts</h2>
          </div>
          <div class="col-sm-9 col-lg-4 text-center  text-white">
            <h1 data-purecounter-start="0" data-purecounter-end=@ViewBag.numOfOnlineContracts data-purecounter-duration="1" class="purecounter"></h1>
            <h2>Online Contracts</h2>
          </div>
        </div>   
