@model Sho8lana.Models.Service

@{
    ViewData["Title"] = "ShwoDetails";
}

<h1>ShwoDetails</h1>

<h4>Service</h4>
<hr />
<div class="container">
        <div class="row ">
            <div class="col-md-6">
            @if (Model.Customer.ProfileImage == null)
            {

             <img src="/assets/img/portfolio/portfolio-1.jpg" style="width:550px;height:380px" />
            }
            else
            {
             <img src="/assets/img/portfolio/portfolio-1.jpg" style="width:550px;height:380px" />
            }

            
            
        @foreach (var image in Model.Medias)
        {
            <div class="pro-img-list">
                <a href="#">
                     <img src="/assets/img/services/@image.MediaPath" class="col-12" height="200px">
                </a>
            </div>
        
        }
            </div>

        <div class="col-md-6">
            <form asp-action="ShowDetails">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ServiceId" />
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    @*<input asp-for="Description" class="form-control" readonly />*@
                    <p asp-for="Description"></p>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" readonly/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" readonly />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerInstructions" class="control-label"></label>
                    <input asp-for="CustomerInstructions" class="form-control" readonly />
                    <span asp-validation-for="CustomerInstructions" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" readonly asp-for="IsCash" /> @Html.DisplayNameFor(model => model.IsCash)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" readonly asp-for="IsFreelancer" /> @Html.DisplayNameFor(model => model.IsFreelancer)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="PublishDate" class="control-label"></label>
                    <input asp-for="PublishDate" class="form-control" readonly/>
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
               @* <div class="form-group">
                    <label asp-for="Rate" class="control-label"></label>
                    <input asp-for="Rate" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    @*<select asp-for="CategoryId" class="form-control" asp-items="Model.Category.CategoryId"></select>*@
                    <input asp-for="@Model.Category.Name" class="form-control  " readonly />
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    @*<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>*@
                    <input asp-for="@Model.Customer" class="form-control  "  readonly/>
                   
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAccepted" /> Accept This Service
                    </label>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                     <a asp-action="ReviewServices" class="btn btn-outline-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
