@using Microsoft.AspNetCore.Identity

@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager


@if (SignInManager.IsSignedIn(User))
{
    

       <li> <a  class="nav-link scrollto"  asp-controller="customer" asp-action=""><i class="bi bi-bell-fill" style="color:white;" title="Notifications"></i></a> </li>
       <li><a class="nav-link scrollto" asp-controller="customer" asp-action="" > <i class="bi bi-envelope-fill" style="color: white;" title="Email"></i></a></li>
       <li> <a  class="nav-link scrollto" asp-controller="customer" asp-action="CustomerContracts"><i class="bi bi-briefcase" style="color: white;" title="Contract"></i></a></li>

    <li class="nav-link scrollto">
        <a  class="nav-link " href="/customer/account" title="Manage">Hello @User.Identity?.Name!</a>
    </li>

    <li class="nav-link scrollto">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link ">Logout</button>
        </form>
    </li>
}
else
{

    <li class="nav-link scrollto">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-link scrollto">
        <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
