@using Microsoft.Extensions.Options;
@inject IOptions<Sho8lana.Data.StripeSetting> Stripe
@*<form asp-action="CustomerPayment" method="POST">
    <article>
        <label>Amount: $5.00</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>
<script>
console.log("@Stripe.Value.PublishableKey")
</script>*@

<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    <form action="/create-checkout-session" method="POST">
      <button type="submit">Checkout</button>
    </form>
  </body>
</html>