@model EditContractPriceViewModel

@{
    ViewData["Title"] = "EditContractPrice";
}



<h5>Enter </h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditContractPrice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-danger" asp-controller="customer" asp-action="CustomerContracts" >Back</a>
            </div>
        </form>
    </div>
</div>



