
@{
    ViewData["Title"] = "About";
}

<h1 class="about_title" style="text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style:italic;margin-top:5px; font-size:45px;text-shadow:0 0 3px purple;">About</h1>

<div style="margin-left:12px;padding-left:10px;font-size:12px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-bottom:-90px;">

    <p class="about" style="margin-left:12px;font-family:'Times New Roman', Times, serif;font-size:20px;margin-top:-100px;">
       1) Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />  Soluta in dolorum recusandae, officia dolore deserunt minima porro nemo culpa hic aut deleniti possimus autem non repellat iure nam id repudiandae corporis,<br /> expedita eveniet! Cumque repudiandae aspernatur quidem quas, perferendis sunt?<br />
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, nihil.<br /> Accusantium error enim saepe dolore architecto eos porro voluptate consequuntur!<br />

       2) Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />  Soluta in dolorum recusandae, officia dolore deserunt minima porro nemo culpa hic aut deleniti possimus autem non repellat iure nam id repudiandae corporis,<br />  expedita eveniet! Cumque repudiandae aspernatur quidem quas, perferendis sunt?<br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, nihil.<br /> Accusantium error enim saepe dolore architecto eos porro voluptate consequuntur!

        <br />
       3) Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /> Soluta in dolorum recusandae, officia dolore deserunt minima porro nemo culpa hic aut deleniti possimus autem non repellat iure nam id repudiandae corporis,<br />  expedita eveniet! Cumque repudiandae aspernatur quidem quas, perferendis sunt?<br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, nihil.<br /> Accusantium error enim saepe dolore architecto eos porro voluptate consequuntur!

    </p>

</div>
