html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile-picture{
    height:350px;
    width:350px;
    object-fit:cover;
}
.custom-select{
    background:none
}
